body {
	background-color: wheat;
}

.edit {
	.cell-input {
		background-color: plum;
	}
}

.item-btn {
	border-radius: 1em;
	border: none;
	background-color: white;
}

.movie-row {
	/*background-color: blue;*/
	display: flex;
	/*width: fit-content;*/
}

.cell-input {
	border: none;
	/*width: 100%;*/
}
